
/*Colores*/
$colores:
grey,
white,
green,
orange,
black;


/*Tamaños de fuentes*/
$sizes:
3.5rem,
3rem,
2.5rem,
2rem,
1.5rem,
1rem;



/*Font-Family*/
$font-family:
'Dancing Script', cursive,
'Square Peg', cursive,
'Nunito', sans-serif;



