$marcoGeneral: (
    border-marcoGeneral: solid 10px orange,
    padding-marcoGeneral: 5%,
    bg-color-marcoGeneral:rgba(31, 27, 27, 0.919),
    margin-marcoGeneral: 1%,
);

$border-marcoGeneral: map-get($marcoGeneral, border-marcoGeneral);
$padding-marcoGeneral: map-get($marcoGeneral, padding-marcoGeneral);
$bg-color-marcoGeneral: map-get($marcoGeneral,  bg-color-marcoGeneral);
$margin-marcoGeneral: map-get($marcoGeneral,margin-marcoGeneral);



$marcoSection: (
    border-marcoSection: dotted 2px green,
    padding-marcoSection:5%,
    bg-color-marcoSection:rgb(56, 31, 3),
    
);

$border-marcoSection: map-get($marcoSection, border-marcoSection);
$padding-marcoSection: map-get($marcoSection, padding-marcoSection);
$bg-color-marcoSection: map-get($marcoSection,  bg-color-marcoSection);

