@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&family=Assistant:wght@200&family=Dancing+Script:wght@600;700&family=Nunito:wght@200&family=Square+Peg&display=swap');
/*
font-family: 'Arima Madurai', cursive;
font-family: 'Assistant', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Square Peg', cursive;
*/
