/*Colores*/
$colorHeader: green;
$colorBorder: grey;
$colorSection: orange;
$colorFondo: white;
$colorDivisiones: black;

/*Tamaños de fuentes*/
$sizeh1: 2.2rem;
$sizeh2: 1.8rem;
$sizeMenuNav:1.5rem;
$sizeParrafo:1.2rem;
$sizeSecondaryText:1rem;

/*Font-Familye*/
$Font-family-Navbar: 'Dancing Script', cursive;
$font-family-Titles: 'Square Peg', cursive;
$font-family-Paragraph: 'Nunito', sans-serif;



