

/*header Santa Raqueta*/

header{
    position: sticky;
    z-index: 10;
    top: 0;   
     
    /* leyenda apaisada top con h1*/
        
    .leyendaSR {
        margin:0 1%;
        background-color: rgba(39, 60, 93);
        backdrop-filter: blur( 13px );
         
            .logo {
               width: 40%; 
               padding: 1%;         
            }   
    
            .redesSocialesIconos {
                display: flex;
                flex-direction: row;
                list-style: none;
            
                .redessociales {
                   padding: 10%;  
                   font-size: 1em;          
                        a  {                       
                                color: coral;  
                        }
                }
            } 
                
    }
    
        nav {     
            @include paddingbordermarginRaiusBgColor (0,1px solid rgba( 255, 255, 255, 0.18 ),0 1%,0,#b58c2e73);
            ul {
                display: flex;
                flex-direction: row;            
                li {
                    display: flex;               
                    padding: 0 30px;
                    font-size: 1.2rem;                
                    a {
                        color: rgb(0, 0, 0);  
                        font-family: 'Nunito', sans-serif; 
                            &:hover {
                                text-decoration: none;
                                color: salmon;
                                font-size: 1.2rem;
                        }
                    }

                        .css-button-fully-rounded--black {
                        min-width: 130px;
                        height: 40px;
                        color: #fff;
                        padding: 0,8rem 1.3 rem;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        position: relative;
                        display: inline-block;
                        outline: none;
                        border-radius: 20px;
                        border: 2px solid #212529;
                        background: #212529;
                    }
                        .css-button-fully-rounded--black:hover {
    background: #fff;
    color: #212529
                    }

                }
            }
        }

    }