body {
margin: 0 6%;
background-color: white;
}

.h1{
    @include tipography-FamilySizeWeightStyleColor ('dancing script', 2rem, bold,none, white);
}

h2 {
    @include tipography-FamilySizeWeightStyleColor ('Square Peg', 2.3rem, bold, none,black);}

h3 {
    @include tipography-FamilySizeWeightStyleColor ("Nunito", 1.5rem, bold, italic,black);
    background-color: rgba( 249, 244, 232, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;         
    margin: 0 10% 4% 50%;
    text-align: center; 
}

h4 {
    @include tipography-FamilySizeWeightStyleColor ('Nunito', 1.5rem, bold, none,black);
    margin: 4% 2% 4% 2%;
    background-color: cadetblue; 
}

h5 {
    @include tipography-FamilySizeWeightStyleColor (Nunito, 1rem, bold, cursive,black);
}

h6 {
    @include tipography-FamilySizeWeightStyleColor ('dancing script', 1rem, bold, cursive,gray);
}

/* Carousel de imagenes con leyenda*/

.carouselConLeyenda {

  padding:0 1%;

        .leyendasDeCarousel {
            width: 100%;
            border-radius: 10px;
            box-shadow: 0 10px 32px 0 rgba(13, 25, 194, 0.37);
        }
    }

/* presentacion*/

.sectionPresentation {
    @include paddingbordermarginRaiusBgColor (7% 1%,1px solid rgba( 255, 255, 255, 0.18 ),0 1%,0 0 25% 0,rgba( 249, 244, 232, 0.45 ));
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13px );
    -webkit-backdrop-filter: blur( 13px );
    color: rgb(9, 7, 7); 
        p { 
            @include tipography-FamilySizeWeightStyleColor ('Assistant', 1rem, bold, none, rgb(21, 20, 20));  
            padding: 3%;
            margin: 0 5%;
            text-align: justify;
    }
        p3 {
            @include tipography-FamilySizeWeightStyleColor ('dancing script', 1.7rem, bold, none, black);
            padding-left: 5%;
    }
}

    
    

    /* informacion sobre las clases individuales, grupales e infantiless*/
     
.sectionClases {    
    @include paddingbordermarginRaiusBgColor (7% 1%,1px solid rgba( 255, 255, 255, 0.18 ),5% 1% 0 1%, 0,rgba( 249, 244, 232, 0.45 ));
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13px );
    -webkit-backdrop-filter: blur( 13px );
    color: rgb(9, 7, 7);  
}
   


/* direccion y mapas de las sedes*/


#sectionSedes {
    @include paddingbordermarginRaiusBgColor (7% 1%,1px solid rgba( 255, 255, 255, 0.18 ),5% 1%,0,rgba( 249, 244, 232, 0.45 ));
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13px );
    -webkit-backdrop-filter: blur( 13px );
    color: rgb(9, 7, 7); 

       

        }

        .mapaSedes {
        width: 100%;
        height: 100%;
        align-items: center;
    }

     

  
    
#sectionFormulario {
    @include paddingbordermarginRaiusBgColor (7% 15%,1px solid rgba( 255, 255, 255, 0.18 ),5% 1% 0 1%, 0,rgba( 249, 244, 232, 0.45 ));
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13px );
    -webkit-backdrop-filter: blur( 13px );
    color: rgb(9, 7, 7); 
  
       
            


                    .css-button-gradient--4 {
                    min-width: 130px;
                    height: 40px;
                    color: #fff;
                    padding: 5px 10px;
                    font-weight: bold;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    position: relative;
                    display: inline-block;
                    outline: none;
                    border-radius: 5px;
                    border: none;
                    background-size: 120% auto;
                    background-image: linear-gradient(315deg, #43cea2 0%, #185a9d 75%);
                  }
                  .css-button-gradient--4:hover {
                    background-position: right center;
                  }
                  .css-button-gradient--4:active {
                    top: 2px;
                  }
                    
                }
            
        



/* animacion para comienzo-animacion para texto inscribite*/


.WapAnimada {
    margin-top: 4%;
    margin-left: 70%;
    bottom:3%;
    right: 8.5%;
    position: fixed;      
    border-radius: 45%; 
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 13px ); 
   
    animation: pelotitaAnimada 2s
}

.WapAnimadaImagen {
    width: 3em;
    height: 3em;


    .WapAnimada:hover {
        transition: all 1s;
        transform: scale(1.3);
    }
    
   
   
}

@keyframes pelotitaAnimada {
    30% {        
        transform: rotate(45deg) translateX(-650px) scale(6);
    }
    
}




